.alerting.displaying {
    display: none;
}

.alerting{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    text-transform: lowercase;
    text-align: center;
    transition: 0.5s ease-in-out;

}

.success {
    background: rgb(136, 218, 136);
    color: rgb(20, 19, 18);
}

.bold {
    font-size: 1.9rem;
}

#alert_btn {
    padding: 1rem;
    font-size: 3rem;
    cursor: pointer;
}